{
  "arrowParens": "always",
  "bracketSpacing": true,
  "endWithNewline": true,
  "eslintIntegration": true,
  "html-whitespace-sensitivity": "ignore",
  "jsxBracketSameLine": true,
  "printWidth": 100,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "wrapAttributes": "force-aligned"
}
