<h1>Welcome to Video app</h1>

<mat-button-toggle-group #viewMode="matButtonToggleGroup" value="metro" class="margin-bottom" (change)="onViewChange(viewMode)">
  <mat-button-toggle id="metro" name="metro" value="metro" aria-label="Metro mode">
    Metro view
  </mat-button-toggle>
  <mat-button-toggle id="list" name="list" value="list" aria-label="List mode">
    List view
  </mat-button-toggle>
</mat-button-toggle-group>

<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile
      *ngFor="let video of videos"
      [colspan]="video.cols"
      [rowspan]="video.rows"
      [style.background]="'lightblue'">
      <img src="{{video.image}}">
    {{video.title}}
    <br/>
    {{video.source}}
    <br/>
    {{video.date | date: 'medium'}}
    <br/>
    Liked {{video.likesCount}}, Played {{video.playesCount}}
  </mat-grid-tile>
</mat-grid-list>

<mat-paginator [length]="length"
              [pageSize]="pageSize"
              [pageIndex]="pageIndex"
              [pageSizeOptions]="pageSizeOptions"
              (page)="onPageChanged($event)">
</mat-paginator>
