<div class="navbar-container">
  <mat-button-toggle-group
    #viewMode="matButtonToggleGroup"
    value="metro"
    class="margin-bottom"
    (change)="onViewChange(viewMode.value)"
  >
    <mat-button-toggle class="mat-raised-button" value="metro">
      Metro view
    </mat-button-toggle>
    <mat-button-toggle class="mat-raised-button" value="list">
      List view
    </mat-button-toggle>
  </mat-button-toggle-group>

  <mat-button-toggle-group
    #showFav="matButtonToggleGroup"
    value="allVideos"
    class="margin-bottom margin-left"
    (change)="onFavoriteShow(showFav.value !== 'allVideos')"
  >
    <mat-button-toggle class="mat-raised-button" value="allVideos">
      All videos
    </mat-button-toggle>
    <mat-button-toggle class="mat-raised-button" value="favorite">
      Show favorite only
    </mat-button-toggle>
  </mat-button-toggle-group>

  <mat-button-toggle-group
    #sort="matButtonToggleGroup"
    value="asc"
    class="margin-bottom margin-left"
    (change)="onSortClick(sort.value)"
  >
    <mat-button-toggle class="mat-raised-button" value="asc">
      Sort by the newest
    </mat-button-toggle>
    <mat-button-toggle class="mat-raised-button" value="desc">
      Sort by the oldest
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
