<img class="cursor-pointer video-thumbnail" src="{{ video.image }}" (click)="onPlayClick(video)" />
{{ video.title }}
<br />
{{ video.sourceType }}
<br />
{{ video.date | date: 'medium' }}
<br />
Liked {{ video.likesCount }}, Played {{ video.playsCountDescription }}
<br />
Added to your video {{ video.creationDate | date: 'medium' }}

<div class="item">
  <mat-icon
    class="cursor-pointer"
    aria-hidden="false"
    *ngIf="!video.fav"
    (click)="onChangeFavClick(video)"
    >favorite_border</mat-icon
  >
  <mat-icon
    class="cursor-pointer"
    aria-hidden="false"
    *ngIf="video.fav"
    (click)="onChangeFavClick(video)"
    >favorite</mat-icon
  >
  <mat-icon class="cursor-pointer" aria-hidden="false" (click)="onPlayClick(video)">
    play_circle_filled</mat-icon
  >
  <mat-icon class="cursor-pointer" aria-hidden="false" (click)="onDeleteClick(video)">
    delete_sweep</mat-icon
  >
</div>
