<form class="example-form" class="add-form" #form="ngForm" (keyup.enter)="onAddClick(form, platform)">
  <div>
    <label for="videoId">Video identifier</label>
  </div>
  <div>
    <mat-form-field>
      <input id="videoId" name="videoId" matInput [(ngModel)]="apply.videoId" #videoId="ngModel" required />
    </mat-form-field>
  </div>
  <div>
    <label for="youtube">
      Platform
    </label>
  </div>
  <div>
    <mat-button-toggle-group #platform="matButtonToggleGroup" value="youtube">
      <mat-button-toggle id="youtube" name="youtube" value="youtube" aria-label="Text align center">
        YouTube
      </mat-button-toggle>
      <mat-button-toggle id="vimeo" name="vimeo" value="vimeo" aria-label="Text align center">
        vimeo
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="margin-top float-left">
    <button mat-raised-button color="warn" (click)="onAddClick(form, platform)">Add</button>
  </div>

  <div class="margin-top float-right">
    <button mat-stroked-button color="warn" (click)="onAddDefaultClick()">Add defaults</button>
  </div>
  <div class="clear-both"></div>
</form>
