html, body {
   height: 100%;
}

body {
   margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

.width100 {
  width: 100%;
}

.widthHalf {
  width: 48%;
}

.cursor-pointer {
  cursor: pointer;
}

.box-corners {
  border-radius: 5px;
}

.box-border {
  border: solid 1px #ccc;
}

.padding-around {
  padding: 5px;
}

.margin-around {
  margin: 10px;
}

.margin-left {
  margin-left: 10px;
}

.margin-right {
  margin-right: 10px;
}

.margin-top {
  margin-top: 10px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.text-align-right {
  text-align: right;
}

button:focus {
  outline: none;
}
